.energy__labels {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 600;
}

.energy__labels span {
  padding: 2px 8.5px;
  border-radius: 3px;
}

.energy__label1 {
  color: white;
  background-color: var(--dark-blue);
}

.energy__label2 {
  background-color: var(--xlight-orange);
  color: var(--dark-orange);
}

/*Rate your current energy level*/

.energy__buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
}

.energy__button2 {
  opacity: 0.75;
}

.energy__button3 {
  opacity: 0.5;
}

.energy__button4 {
  opacity: 0.25;
}

.energy__button {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: var(--dark-orange);
}
