.energy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
}

.energy__graph {
  display: block; /* fixes layout wonkiness in FF1.5 */
  position: relative;
  width: 370px;
  background: transparent;
  font-size: 11px;
}

.energy__graph--levels {
  position: relative;
  top: -161px;
  left: 2px;
  width: 265px;
  height: 300px;
  z-index: 1;
  margin-bottom: -200px;
  font-size: 10px;
  font-family: 'fira-sans-2', Verdana, sans-serif;
}

.energy__graph--level {
  height: 40px;
}

.energy__graph tr,
.energy__graph th,
.energy__graph td {
  position: absolute;
  bottom: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

.energy__graph .energy__graph--bars1 {
  left: 0;
}
.energy__graph .energy__graph--bars2 {
  left: 60px;
}
.energy__graph .energy__graph--bars3 {
  left: 120px;
}
.energy__graph .energy__graph--bars4 {
  left: 180px;
  border-right: none;
}
.energy__graph .energy__graph--bars5 {
  left: 240px;
}

.energy__graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}

.energy__graph .bar {
  width: 12px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.energy__graph .you {
  left: 64px;
  background-color: var(--color-you);
  border-color: transparent;
}
.energy__graph .otherstudents {
  left: 76px;
  background-color: var(--color-otherstudents);
  border-color: transparent;
}

.energy__graph--levels .energy__graph--level {
  position: relative;
  border-top: 1px dotted #c4c4c4;
  width: 300px;
}

.energy__graph--level span {
  position: absolute;
  left: -5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}

.you--1 {
  height: 175px;
}

.otherstudents--1 {
  height: 154px;
}

.you--2 {
  height: 131px;
}

.otherstudents--2 {
  height: 148px;
}

.you--3 {
  height: 157px;
}

.otherstudents--3 {
  height: 109px;
}

.you--4 {
  height: 72px;
}

.otherstudents--4 {
  height: 95px;
}

.you--5 {
  height: 47px;
}

.otherstudents--5 {
  height: 33px;
}

/*Rate your current energy level*/
