.journal-card {
  padding: 20px;
  border-radius: 6px;
}

.journal-card__rating {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}

.journal-card__star {
  width: 25px;
}

.journal-card__comprehension {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 6px;
}

.journal-card__rectangle {
  width: 22px;
}

.journal-card__motto {
}

.journal-card__note {
}

.journal-card__button {
  padding: 16px 48px;
  background-color: var(--dark-orange);
  border: none;
  color: white;
  border-radius: 5px;
  height: 48px;
}
