* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 81px auto;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}
