:root {
  --dark-blue: #193251;
  --light-blue: #7589a2;
  --grey: #e0e4e8;
  --whitesmoke: #f8f8f8;
  --dark-orange: #ff5a36;
  --medium-orange: #ff9c86;
  --light-orange: #ffbdaf;
  --xlight-orange: #ffded7;
  --color-you: #ff5a36;
  --color-otherstudents: #193251;
}
