.bold-16 {
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 1rem;
}

.semibold-16 {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 1rem;
}

.semibold-16--light {
  font-weight: 600;
  color: var(--grey);
  font-size: 1rem;
}

.semibold-16--light-blue {
  font-weight: 600;
  color: var(--light-blue);
  font-size: 1rem;
}

.semibold-14 {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 0.875rem;
}

.semibold-14--uppercase {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 0.875rem;
  text-transform: uppercase;
}

.regular-12 {
  font-weight: 400;
  color: var(--grey);
  font-size: 0.75rem;
}

.regular-12--light-blue {
  font-weight: 400;
  color: var(--light-blue);
  font-size: 0.75rem;
}

.regular-12--dark-blue {
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 0.75rem;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jfc {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scrolling {
  overflow-y: scroll;
}

.box-shadow--blue {
  box-shadow: 0 2px 11px rgba(25, 50, 81, 0.2);
}

.mt-24 {
  margin-top: 24px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-auto {
  margin: 0 auto;
}

.w-full {
  width: 100%;
}
.w-200 {
  width: 200px;
}

.d-none {
  display: none;
}

.orange {
  background-color: var(--dark-orange);
}

.orange-75 {
  background-color: var(--medium-orange);
}

.orange-50 {
  background-color: var(--light-orange);
}

.orange-25 {
  background-color: var(--xlight-orange);
}
