.bold-16 {
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 1rem;
}

.semibold-16 {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 1rem;
}

.semibold-16--light {
  font-weight: 600;
  color: var(--grey);
  font-size: 1rem;
}

.semibold-14 {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 0.875rem;
}

.semibold-14--uppercase {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 0.875rem;
}

.regular-12 {
  font-weight: 400;
  color: var(--grey);
  font-size: 0.75rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolling {
  overflow-y: scroll;
}

.box-shadow--blue {
  box-shadow: 0 2px 11px rgba(25, 50, 81, 0.2);
}

.mt-24 {
  margin-top: 24px;
}

.white-space {
  height: 90px;
}
