.header {
  /* background-image: url(../assets/background_shape_1.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 10;
}

.header__img {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.header__headline {
  align-self: flex-end;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
}

.header__subheadline {
  align-self: flex-start;
  color: var(--light-blue);
  text-align: center;
}
